@model IEnumerable<Estudio_de_Arquitectura_J_W.Models.Proyectos>

<div class="container">

  @if(TempData["mensaje"] != null){
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["mensaje"]
        <button type="button" class="close" data-dismiss="alert" arial-label="Close">
          <span aria-hidden="true">&times;</span>

        </button>
    </div>
  }

</div>


<form asp-action="ProyectosRealizar" method="GET">


  <div class="search-bar-input">
    <p> 
      <input type="text" class="form-control" placeholder="Buscar" name="searchString" value="@ViewData["CurrentFilter"]">
      <button class="btn btn-default" value="Buscar"><img src="https://image.flaticon.com/icons/png/512/56/56552.png" width="40" height="40" alt=""></button>
      
      <button class="btn btn-primary"><a asp-action="ProyectosRealizar"  style="color: white;"> Todos los Proyectos</a></button>
    </p>
  </div>
</form>

<div class="row">
      <div class="col">
        <div id="products" class="mb-3">
          <div class="row">
            @foreach (var item in Model) {
            <div class="col-sm-4">
              
                <div class="card">                  
                     <img class="card-img-top" width="200" height="400"
                       src="@item.imagen" alt="@item.imagen"  />       
                
                <div class="card-body">
                  <h5 class="card-title">@Html.DisplayFor(modelItem => item.nombre)</h5>
                  <p class="card-text" >Descripción: @Html.DisplayFor(modelItem => item.descripcion)</p>
                  <p class="card-text" >Desde: $@Html.DisplayFor(modelItem => item.precio)</p>
                  @if(!User.Identity.IsAuthenticated){
                  <button type="button" class="btn btn-info">Caractereisticas</button>
                  }else{
                    <a asp-action="EditarProyectoRealizar" asp-route-id="@item.id"><button type="button" class="btn btn-info">Editar Proyecto</button></a>
                  }
                 </div> 
                </div>              
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  

<div class="row row-cols-1 row-cols-md-2 g-4">

  <div class="col">
    <div class="card">
      <img src="https://i.pinimg.com/474x/b4/ee/e2/b4eee26494fae2af4e37dbad9ec2082c--architecture-visualization-marina.jpg" class="card-img-top" height="400" width="400" alt="...">
      <div class="card-body">
        <h5 class="card-title">AREQUIPA 2655</h5>
        <p class="card-text">San Isidro -Desde S/304,000 </p>
             <button type="button" class="btn btn-info">Caracteristicas</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="https://fachadas-casas.com/wp-content/uploads/2010/06/fachadas-edificios-8.jpg" class="card-img-top" height="400" width="400" alt="...">
      <div class="card-body">
        <h5 class="card-title">ARAMBURÚ 836</h5>
        <p class="card-text">Surquillo- Desde S/301,100 </p>
            <button type="button" class="btn btn-info">Caracteristicas</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="https://www.mundohvacr.com.mx/wp-content/uploads/2014/06/A0MH0079419.jpg" class="card-img-top" height="400" width="400" alt="...">
      <div class="card-body">
        <h5 class="card-title">CARRIQUIRY 894</h5>
        <p class="card-text">San Isidro -Desde S/337,000 </p>
            <button type="button" class="btn btn-info">Caracteristicas</button>
      </div>
    </div>
  </div>

</div>

<br>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="https://theressa.net/images/projects/5ebe3eaac2b7e-01.jpg" class="card-img-top" height="400" width="400" alt="...">
      <div class="card-body">
        <h5 class="card-title">BECERRA 227</h5>
        <p class="card-text">Miraflores _Desde $579,075</p>
            <button type="button" class="btn btn-info">Caracteristicas</button>
         
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://images.homify.com/c_fill,f_auto,h_700,q_auto/v1460438105/p/photo/image/1452457/06._FOTOMONTAJE_CERCA.jpg" class="card-img-top" height="400" width="400" alt="...">
      <div class="card-body">
        <h5 class="card-title">AREQUIPA 2655</h5>
        <p class="card-text">San Isidro -Desde S/304,000 </p>
             <button type="button" class="btn btn-info">Caracteristicas</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://www.construyehogar.com/wp-content/uploads/2014/09/Edificios-de-departamentos.jpg" class="card-img-top" height="400" width="400" alt="...">
      <div class="card-body">
        <h5 class="card-title">ARAMBURÚ 836</h5>
        <p class="card-text">Surquillo- Desde * (inc. estac. de bicicleta)S/301,100 </p>
            <button type="button" class="btn btn-info">Caracteristicas</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://www.mundohvacr.com.mx/wp-content/uploads/2014/06/A0MH0079419.jpg" class="card-img-top"  height="400" width="400" alt="...">
      <div class="card-body">
        <h5 class="card-title">CARRIQUIRY 894</h5>
        <p class="card-text">San Isidro -Desde S/337,000 </p>
            <button type="button" class="btn btn-info">Caracteristicas</button>
      </div>
    </div>
  </div>
</div>

<br>


<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="http://www.arkade.es/wp-content/uploads/2017/04/edificio-3d-terrazas-borbon.jpg" class="card-img-top" height="400" width="400" alt="...">
      <div class="card-body">
        <h5 class="card-title">BECERRA 227</h5>
        <p class="card-text">Miraflores _Desde $579,075</p>
            <button type="button" class="btn btn-info">Caracteristicas</button>
         
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3cY4150ZHm7ATXVebfSD_A3IA0f5JpwA7KA&usqp=CAU" class="card-img-top" height="400" width="400" alt="...">
      <div class="card-body">
        <h5 class="card-title">AREQUIPA 2655</h5>
        <p class="card-text">San Isidro -Desde S/304,000 </p>
             <button type="button" class="btn btn-info">Caracteristicas</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXNrJF4WvJRM7wb5qBBdEjx-punu77q-ohFA&usqp=CAU" class="card-img-top" height="400" width="400" alt="...">
      <div class="card-body">
        <h5 class="card-title">ARAMBURÚ 836</h5>
        <p class="card-text">Surquillo- Desde * (inc. estac. de bicicleta)S/301,100 </p>
            <button type="button" class="btn btn-info">Caracteristicas</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://cnnespanol.cnn.com/wp-content/uploads/2017/01/161223093540-best-building-1-exlarge-169.jpg?quality=100&strip=info&w=320&h=240&crop=1" class="card-img-top" height="400" width="400" alt="...">
      <div class="card-body">
        <h5 class="card-title">CARRIQUIRY 894</h5>
        <p class="card-text">San Isidro -Desde S/337,000 </p>
            <button type="button" class="btn btn-info">Caracteristicas</button>
      </div>
    </div>
  </div>
</div>
<br>
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>